.Page {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 3rem;

  &.isVerticalCenter {
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  .Title {
    margin-bottom: 2.5rem;
    font-family: 'Kanit', sans-serif;
  }
}
