@property --menuItemBackgroundColor1 {
  syntax: '<color>';
  initial-value: var(--surfaceDarkColor);
  inherits: false;
}

@property --menuItemBackgroundColor2 {
  syntax: '<color>';
  initial-value: var(--surfaceDarkColor);
  inherits: false;
}

@property --menuItemBorderColor1 {
  syntax: '<color>';
  initial-value: transparent;
  inherits: false;
}

@property --menuItemBorderColor2 {
  syntax: '<color>';
  initial-value: transparent;
  inherits: false;
}

._MenuItem {
  border: 1px solid transparent;
  background: linear-gradient(93.28deg, var(--menuItemBackgroundColor1) -3%, var(--menuItemBackgroundColor2) 99.13%)
      padding-box,
    linear-gradient(93.28deg, var(--menuItemBorderColor1) -3%, var(--menuItemBorderColor2) 99.13%) border-box;
  transition: --menuItemBorderColor1 0.2s, --menuItemBorderColor2 0.2s, --menuItemBackgroundColor1 0.2s,
    --menuItemBackgroundColor2 0.2s;
}

._MenuItem:hover,
._MenuItem._hover {
  --menuItemBorderColor1: #fa4845;
  --menuItemBorderColor2: #e61f59;
  --menuItemBackgroundColor1: var(--surfaceDarkColor);
  --menuItemBackgroundColor2: var(--surfaceDarkColor);
}

._theme._light ._MenuItem:hover,
._theme._light ._MenuItem._hover {
  --menuItemBackgroundColor1: white;
  --menuItemBackgroundColor2: white;
}

._MenuItem._active,
._theme._light ._MenuItem._active {
  --menuItemBorderColor1: #fa4845;
  --menuItemBorderColor2: #e61f59;
  --menuItemBackgroundColor1: #fa4845;
  --menuItemBackgroundColor2: #e61f59;
}

/* Firefox fix */
@-moz-document url-prefix() {
  ._MenuItem._active {
    background: linear-gradient(93.28deg, var(--buttonGradient2Color) -3%, var(--buttonGradient1Color) 99.13%)
        padding-box,
      linear-gradient(93.28deg, var(--buttonGradient2Color) -3%, var(--buttonGradient1Color) 99.13%) border-box !important;
  }

  ._MenuItem:hover,
  ._MenuItem._hover {
    background: linear-gradient(93.28deg, var(--surfaceDarkColor) -3%, var(--surfaceDarkColor) 99.13%) padding-box,
      linear-gradient(93.28deg, var(--buttonGradient2Color) -3%, var(--buttonGradient1Color) 99.13%) border-box;
  }

  ._MenuItem:active {
    background: linear-gradient(93.28deg, var(--surfaceDarkColor) -3%, var(--surfaceDarkColor) 99.13%) padding-box,
      linear-gradient(93.28deg, var(--buttonGradient1Color) -3%, var(--buttonGradient2Color) 99.13%) border-box;
  }
}
