.Sidebar {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 260px;
  min-height: 100%;
  padding: 0.5rem;
  color: var(--textColor);
  background-color: var(--textInvertedColor);
  z-index: 1;

  .LogoContainer {
    display: flex;
    align-items: center;
    margin: 1rem 1.5rem -0.25rem;
    cursor: pointer;
    user-select: none;

    .Logo {
      width: 168px;
      height: 44px;
      margin-right: 0.5rem;
      z-index: 1;
    }
  }

  .Menu {
    margin: 75px 0;

    .MenuItem {
      display: flex;
      align-items: center;
      min-height: 56px;
      margin-bottom: 6px;
      padding: 0 1.5rem;
      border: 1px solid transparent;
      border-radius: 0.75rem;
      font-family: 'Kanit', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.5rem;
      color: var(--textColor);
      cursor: pointer;
      user-select: none;
      transition: all 0.15s ease;

      &:hover {
        border-color: #d8481e;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.soon {
        cursor: not-allowed;
        color: var(--inputTextColor);
      }

      &:global(._active) {
        color: white;
        background-color: #f14d1d;

        &:hover {
          background-color: #d8481e;
        }
      }

      .Badge {
        position: relative;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
        padding: 1px 2px;
        border-radius: 4px;
        font-size: 10px;
        line-height: 12px;
        color: white;
        background: var(--primaryAccentColor);
      }
    }
  }

  .Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 1rem 1rem;

    .Links {
      margin-bottom: 1rem;
      border-bottom: 1px solid var(--dividerColor);
      transition: border-bottom-color 0.2s ease;

      .LinksRow {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        > * {
          margin-right: 1rem;

          &:last-child {
            margin-right: 0;
          }
        }

        .Icon {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 32px;
          width: 32px;
          border-radius: 50%;
          fill: var(--textInvertedColor);
          background-color: var(--textColor);
          cursor: pointer;
          transition: background-color 0.2s ease;

          path {
            fill: none;
            stroke: var(--textInvertedColor);
            stroke-miterlimit: 10;
            stroke-width: 32px;
          }

          &:hover {
            background-color: #d8481e;
          }
        }
      }
    }
  }
}

:global(._theme._light) {
  .Sidebar {
    .LogoContainer {
      .Logo {
        background: url(./logo-light.svg) no-repeat center/cover;
      }
    }
  }
}

:global(._theme._dark) {
  .Sidebar {
    .LogoContainer {
      .Logo {
        background: url(./logo-dark.svg) no-repeat center/cover;
      }
    }
  }
}
