.StakingPage {
  margin-top: 2rem;

  .Info {
    display: flex;
    column-gap: 1rem;

    .InfoCard {
      width: 20%;
    }

    .InfoCard1 {
      width: 33%;
    }
  }

  .Tabs {
    position: relative;
    display: flex;
    margin: 5rem 0 1.5rem;

    &:before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 1px;
      background-color: var(--dividerColor);
    }
  }

  .StakingContainer {
    display: flex;

    .StakingColumn {
      width: 50%;
    }

    .TabsContent {
      min-width: 27rem;
      margin-right: 1.5rem;

      .TabContent {
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }
}
