@property --accountColor1 {
  syntax: '<color>';
  initial-value: transparent;
  inherits: false;
}

@property --accountColor2 {
  syntax: '<color>';
  initial-value: transparent;
  inherits: false;
}

._Account {
  background: linear-gradient(93.28deg, var(--accountColor1) -3%, var(--accountColor2) 99.13%);
  transition: --accountColor1 0.2s, --accountColor2 0.2s;
}

._Account:hover,
._Account._hover {
  --accountColor1: #f94646;
  --accountColor2: #e72059;
}
