.AuthCheck {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin: 25px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
