.Collapse {
  position: relative;
  display: flex;
  margin-bottom: 1rem;

  &.active {
    .Icon {
      transform: rotate(90deg);
    }

    .Content {
      padding-top: 1.5rem;
    }
  }

  .Title {
    margin: -1.5rem;
    padding: 1.5rem;
    cursor: pointer;
    z-index: 1;
  }

  .Icon {
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    transform: rotate(270deg);
  }

  .Content {
    padding-top: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }
}
