.Footer {
  margin: 1.5rem 1rem 0;

  .Row {
    display: flex;

    span {
      &:first-child {
        min-width: 164px;
      }

      &:last-child {
        color: var(--textColor);
      }
    }

    .Text {
      color: var(--inputTextColor);
      transition: color 0.2s ease;
    }
  }
}
