.Footer {
  margin: 1rem 1rem 0;

  .Row {
    display: flex;
    justify-content: space-between;
    cursor: text;

    &:hover {
      .Text {
        color: var(--textColor);
      }
    }

    .Text {
      color: var(--inputTextColor);
      transition: color 0.2s ease;
    }
  }
}
