.TVL {
  display: flex;

  .FixResize {
    // See for more info: https://github.com/recharts/recharts/issues/172
    flex: 1;
    width: 0;
  }
}

:global(.recharts-tooltip-label) {
  color: black;
}
